body {
    font-family: Arial, sans-serif;
    background-color: #212529; 
    color: #f8f9fa; 
}

.navbar {
    background-color: #343a40 !important;
    margin-bottom: 40px;
}
.navbar-brand img {
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.navbar-brand img:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.navbar-brand, .nav-link {
    color: #f8f9fa !important; 
}

.nav-link:hover {
    color: #adb5bd !important;
}

.hero-section {
    background-color: #343a40; 
    padding: 100px 0;
    text-align: center;
    color: #f8f9fa; 
}

.hero-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #0d6efd; 
}


.hero-section img {
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    margin-bottom: 20px; 
}

.hero-section img:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.hero-section .lead {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #f8f9fa; 
}

.hero-section p {
    font-size: 1.2rem;
    color: #adb5bd; 
}

.benefits-section {
    padding: 60px 0;
    background-color: #212529; 
}

.benefits-section h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #f8f9fa; 
}

.benefit-card {
    margin-bottom: 30px;
    border: 1px solid #495057; 
    border-radius: 8px;
    transition: transform 0.3s ease;
    background-color: #343a40; 
}

.benefit-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.benefit-card .card-body {
    padding: 20px;
}

.benefit-card .card-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #0d6efd; 
}

.benefit-card .card-text {
    font-size: 1rem;
    color: #adb5bd; 
}