<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org"> 
    <head th:replace="~{layout/plantilla :: head}">       
        <title>TechShop</title>
        <meta charset="UTF-8"/>       
    </head>
    <body>
        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-md-4">
                        <button type="button" 
                                class="btn btn-primary w-100"
                                data-bs-toggle="modal" 
                                data-bs-target="#agregarInscripcion">
                            <i class="fas fa-plus me-2"></i> Agregar Inscripcion
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Modal para agregar inscripciones -->
        <section th:fragment="agregarInscripcion">
            <div id="agregarInscripcion" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">Agregar Inscripcion</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/inscripciones/guardar}" th:object="${inscripciones}" 
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label for="idMateria">Materias</label>
                                        <select name="materia.idMateria" class="form-select" aria-label="Default select example">
                                            <option th:each="b : ${materias}" 
                                                    th:value="${b.idMateria}">[[${b.codigoMateria}]]</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="idEstudiante">Estudiante</label>
                                        <select name="estudiante.idEstudiante" class="form-select" aria-label="Default select example">
                                            <option th:each="b : ${estudiantes}" 
                                                    th:value="${b.idEstudiante}">[[${b.codigoEstudiante}]]</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success" type="submit">
                                    <i class="fas fa-save me-1"></i> Guardar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Listado de inscripcioness -->
        <section th:fragment="listadoInscripciones" id="inscripcioness">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card shadow-sm">
                            <div class="card-header bg-primary text-white">
                                <h4>Listado de Inscripciones</h4>
                            </div>
                            <div th:if="${inscripciones != null and !inscripciones.empty}">
                                <table class="table table-striped table-hover align-middle" style="table-layout: fixed; width: 100%;">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>Id</th>
                                            <th>Materia</th>
                                            <th>Estudiante</th>          
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="inscripciones, contador : ${inscripciones}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${inscripciones.idInscripcion}]]</td>
                                            <td>[[${inscripciones.materia.codigoMateria}]]</td>
                                            <td>[[${inscripciones.estudiante.nombre}]]</td>                       
                                            <td>
                                                <div class="d-flex justify-content-center gap-1">
                                                    <a th:href="@{/inscripciones/eliminar/}+${inscripciones.idInscripcion}" 
                                                       class="btn btn-outline-danger btn-sm" 
                                                       title="Eliminar">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                    <a th:href="@{/inscripciones/modificar/}+${inscripciones.idInscripcion}" 
                                                       class="btn btn-outline-success btn-sm" 
                                                       title="Modificar">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${inscripciones == null or inscripciones.empty}">
                                <span>La lista está vacía</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-primary text-white mb-3">
                            <div class="card-body">
                                <h3>Total de inscripcioness</h3>
                                <h4 class="fs-2"><i class="fas fa-users"></i> [[${totalInscripciones}]]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 4 Formulario para editar inscripciones -->
        <section th:fragment="editarInscripcion">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <form method="POST" 
                          th:action="@{/inscripciones/actualizar}" 
                          th:object="${inscripciones}" 
                          class="was-validated" 
                          enctype="multipart/form-data">
                        <input type="hidden" name="idInscripcion" th:field="*{idInscripcion}"/>
                        <section th:replace="~{inscripciones/fragmentos :: botonesEditar}"/>
                        <div class="card mt-4">
                            <div class="card-header bg-primary text-white">
                                <h5 class="mb-0">Actualizar Inscripcion</h5>
                            </div>
                            <div class="card-body">
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label for="idMateria">Materia</label>
                                        <select name="materia.idMateria" th:field="*{materia.idMateria}" class="form-select" aria-label="Default select example">
                                            <option th:each="c : ${materias}" 
                                                    th:value="${c.idMateria}">[[${c.codigoMateria}]]</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="idEstudiante">Estudiante</label>
                                        <select name="estudiante.idEstudiante" th:field="*{estudiante.idEstudiante}" class="form-select" aria-label="Default select example">
                                            <option th:each="b : ${estudiantes}" 
                                                    th:value="${b.idEstudiante}">[[${b.codigoEstudiante}]]</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Botones para edición -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-3">
                <div class="row g-2">
                    <div class="col-md-4">
                        <a th:href="@{/inscripciones/listado}" class="btn btn-secondary w-100">
                            <i class="fas fa-arrow-left me-1"></i> Regresar
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a th:href="@{/inscripciones/eliminar/}+${inscripciones.idInscripcion}" class="btn btn-danger w-100">
                            <i class="fas fa-trash me-1"></i> Eliminar
                        </a>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-success w-100">
                            <i class="fas fa-check me-1"></i> Guardar
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
